/* =s Reset */
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
    *font-size: 100%;
}
legend {
    color: #000;
}

/* =e Reset */
/* =s base */
header, footer, nav {
    display: block;
}
::-moz-selection {
    background: #fe917b;
    color: #fff;
}
html, body {
    background: #fff;
}
body {
    font-family: "microsoft yahei", Arial;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
.clr:after {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    height: 0;
}
.clr {
    zoom: 1;
}
.hide {
    display: none;
}
.thide {
    text-indent: -9999px;
    position: absolute;
    left: -9999px;
}
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.inner9 {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
.yahei {
    font-family: "microsoft yahei";
}



.box {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}
.box-body {
  padding: 15px;
}
.box-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.box-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.box-title > a,
.box-title > small,
.box-title > .small,
.box-title > small > a,
.box-title > .small > a {
  color: inherit;
}
.box-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* =e base */

/*0519头部样式*/
.header {
    display: block;
    background: #fafafa;
}
.header-logo {
    float: left;
    padding-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px
}
.header-logo img {
    float: left;
    padding: 11px 0;
}
.header-logo span {
    display: block;
    float: left;
    padding-left: 10px;
    color: #606060;
    font-size: 14px;
    padding-top: 23px;
}
.header-logo span h1 {
    display: inline;
}

.header-search {
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 398px;
    height: 30px;
    border: 1px solid #927d37;
    line-height: 30px
}
.header-search .text {
    float: left;
    padding-left: 5px;
    width: 362px;
    height: 100%;
    outline: 0;
    border: 0;
    background: transparent
}
.header-search .submit {
    float: right;
    width: 30px;
    height: 100%;
    border: 0;
    background: #927d37 url(../images/spirit.png) no-repeat 5px 5px;
    cursor: pointer
}
.header-user .user-main {
    position: relative;
    overflow: hidden;
    padding-right: 15px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    cursor: pointer
}
.header-user .user-main .arrow {
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    position: absolute;
    top: 50%;
    right: 5px;
    display: block;
    margin-top: -2px;
    width: 10px;
    height: 5px;
    background: url(../images/spirit.png) no-repeat 0 -33px
}
.header-user:hover .user-main .arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-user .avatar img {
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.header-user .avatar {
    float: left
}
.header-user {
    position: relative;
    float: right;
    margin-top: 19px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 7px;
    border: 1px solid transparent;
}
.header-user .nickname {
    float: left;
    padding: 0 5px 0 5px;
    height: 36px;
    color: #6f6f6f;
    font-size: 14px;
    line-height: 36px;
    max-width: 67px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-user:hover {
    border-color: #eaeaea;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-right-radius: 0;
}
.header-user:hover .user-link {
    display: block
}
.header-user .user-link {
    position: absolute;
    top: 50px;
    left: -1px;
    z-index: 101;
    display: none;
    width: 100%;
    border: 1px solid #eaeaea;
    border-top: 0;
    border-bottom: 0;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header-user .user-link li {
    border-bottom: 1px solid #eaeaea
}
.header-user .user-link a {
    display: block;
    padding: 10px 18px;
    color: #888;
    font-size: 14px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.header-user .user-link a:hover {
    color: #927d37
}
.header-user .user-link i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/spirit.png) no-repeat;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.header-user .user-link .l1 i {
    background-position: -40px -46px;
}
.header-user .user-link .l2 i {
    background-position: -59px -45px;
}
.header-user .user-link .l3 i {
    background-position: 0px -45px;
}
.header-user .user-link .l4 i {
    background-position: -20px -45px;
}
.header-user .user-link .l1 a:hover i {
    background-position: -40px -66px;
}
.header-user .user-link .l2 a:hover i {
    background-position: -59px -66px;
}
.header-user .user-link .l3 a:hover i {
    background-position: 0px -66px;
}
.header-user .user-link .l4 a:hover i {
    background-position: -20px -66px;
}
.header-user-box {
    width: 160px;
    float: right;
    margin-left: 10px;
}

/*s=vip*/
.header-user .user-haslg.user-main .nickname {
    margin-top: -8px;
}
.header-user .user-haslg.user-main .arrow {
    margin-top: -10px;
}
.header-user .user-haslg.user-main .vip-ico {
    position: absolute;
    left: 42px;
    top: 19px;
}
.header-user .user-haslg.user-main .vip-ico a {
    display: inline-block;
    background: url(../images/spirit.png) no-repeat -6px -97px;
    width: 31px;
    height: 14px;
}
.header-user .user-haslg.user-main .vip-ico.isvip a {
    background-position: -6px -115px;
    width: 28px;
    height: 14px;
}
/*e=vip*/

.header-nav {
    height: 48px;
    position: relative;
}
.header-nav.nav-fixed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: .95;
}
.header-nav.nav-fixed:hover {
    opacity: 1;
}
.header-nav .nav_wrap {
    font-family: '\5FAE\8F6F\96C5\9ED1';
    background: #526bbe;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: solid 2px #374c92;
}
.header-menu {
    position: relative;
    float: left;
    font-size: 16px;
    line-height: 48px
}
.header-menu .arrow {
    position: absolute;
    bottom: 0;
    left: 35px;
    display: none;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent transparent #fff transparent
}
.header-menu li {
    float: left;
    position: relative;
}
.header-menu li a {
    display: block;
    padding: 0 25px;
    color: #fff;
    cursor: pointer;
}
.header-menu li a .arro {
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    position: absolute;
    top: 50%;
    right: 5px;
    display: block;
    margin-top: -2px;
    width: 10px;
    height: 5px;
    background: url(../images/spirit.png) no-repeat 0 -33px;
}
.header-menu li .news-menu {
    position: absolute;
    display: none;
    top: 50px;
    left: 5px;
    width: 100px;
    line-height: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    text-align: center;
}


.header-menu li .news-menu span {
    color: #e3e3e3;
}
.header-menu li .news-menu a {
    display:inline-block;
    color: #333333;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    display: inline;
    padding: 5px 20px;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}
.header-menu li .news-menu a.active, .header-menu li .news-menu a:hover {
    color: #FFFFFF;
    background:#526bbe;
}
.header-menu li .news-menu .video-link {
    margin: 0 auto;
}
.header-menu li .news-menu .video-link a {
    display: block;
    width: 88px;
    height: 36px;
    line-height: 36px;
    text-align: left;
    border: 1px solid #927d37;
    border-radius: 5px;
    font-size: 15px;
    color: #927d37;
    margin: 12px auto 10px auto;
}
.header-menu li .news-menu .video-link em {
    background: url(../images/video-ico.png) no-repeat;
    margin-right: 10px;
    width: 22px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    vertical-align: -4px;
}
.header-menu li .news-menu .video-link a:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.header-menu li .news-menu .flag-link {
    margin: 0 auto;
}
.header-menu li .news-menu .flag-link a {
    display: block;
    width: 88px;
    height: 36px;
    line-height: 36px;
    text-align: left;
    border: 1px solid #927d37;
    border-radius: 5px;
    font-size: 15px;
    color: #927d37;
    margin: 12px auto 10px auto;
}
.header-menu li .news-menu .flag-link em {
    background: url(../images/flag-ico.png) no-repeat;
    margin-right: 10px;
    width: 22px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    vertical-align: -4px;
}
.header-menu li .news-menu .flag-link a:hover {
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.header-menu li.ej-hover a .arro {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-menu li.ej-hover .news-menu {
    display: block;
}

.header-links {
    float: right;
    line-height: 48px
}
.header-links a {
    position: relative;
    float: left;
    padding: 0 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    cursor: pointer;
}
.header-links i {
    position: absolute;
    top: 50%;
    left: 5px;
    display: block;
    margin-top: -2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    font-size: 0
}



/* e= 全局头部*/

/* s= 全局主体*/
.main {
    margin-top: 44px;
    margin-bottom: 120px;
}


/* s= 全局左侧*/
.left{width: 788px; float: left;}
/* e= 全局左侧*/

/* s= 全局右侧*/
.right{width: 278px; float: right;}

.right .kuaixun{}/*右侧快讯*/
.right .kuaixun .kx-ul li{ border-bottom:dotted 1px #CBCBCB;}
.right .kuaixun .kx-ul li.hov{ border-bottom:dotted 1px #5878D7;}
.right .kuaixun .kx-ul li a{width: 100%; height: 100%; display: block;padding: 12px 0;}
.right .kuaixun .kx-ul li .time{float: left;width: 78px; height: 36px; line-height: 36px; text-align: center;color: #616161; font-size: 12px; background: #F2F2F2;font-family: arial;}
.right .kuaixun .kx-ul li .time span{display: inline-block; }
.right .kuaixun .kx-ul li .time span.r{font-size: 22px;   width:30px;margin-right: 2px; text-align: right;}
.right .kuaixun .kx-ul li .time span.y{font-size: 12px; margin-left: 5px; position: relative; bottom: 1px;}
.right .kuaixun .kx-ul li.hov .time{background: #5878D7; color: #fff;}
.right .kuaixun .kx-ul li .title{height: 36px; line-height: 18px; overflow: hidden; font-size: 14px; color: #3f3f3f; padding-left: 12px;}
.right .kuaixun .kx-ul li.hov .title{color: #5878D7;}

/*每周精选*/
.right .week-hot{}
.right .week-hot a{display: block;padding-top: 11px;font-size: 14px;color: #272322;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.right .week-hot a span{font-size: 14px;color: #b8b8b8;font-weight: bold;display: inline-block;width: 25px;}
.right .week-hot a.hot-one,
.right .week-hot a.hot-two,
.right .week-hot a.hot-three{color: #d83908;}
.right .week-hot a.hot-one span,
.right .week-hot a.hot-two span,
.right .week-hot a.hot-three span{color: #d83908;}

.right .hottags{}/*右侧标签*/
.right .hottags  li{float: left; margin-right: 8px; margin-top: 12px;}
.right .hottags  li a{float: left; padding:6px 12px; font-size: 14px; color: #7B7B7B; background:#E8E8E8; line-height: 1; }
.right .hottags  li a.important{color: #fff;background: #4D4D4D;}
.right .hottags  li a:hover{color: #fff;background: #5878D7;}


/*文章页面右侧关于作者*/
.right .about-author{margin-bottom: 32px;}
.right .about-author h1{height: 36px;line-height: 36px;border-bottom: 2px solid #f7f7f7;position: relative;}
.right .about-author h1 span{position: absolute;left: 0;bottom:-1px;border-bottom:2px solid #d96c4b;color: #373737;font-size: 18px;}
.right .aboutAur-main{margin-top: 25px;background-color: #f7f7f7;padding: 20px 20px 35px 20px;font-size: 12px;color: #373737;}
.right .aboutAur-mes .au-face{width: 96px;float: left;position: relative;}
.right .aboutAur-mes .au-face img{width: 96px;height: 96px;border-radius: 50%;}
.right .aboutAur-mes .au-face .v{position: absolute;bottom: -2px;right: 16px;background: url(../images/article-sprite.png) no-repeat -1px -488px;width: 24px;height: 24px;}
.right .aboutAur-mes .aboutAur-name{padding-left: 10px;overflow: hidden;}
.right .aboutAur-mes .aboutAur-name .name a{font-size: 18px;color: #1b1b1b;}
.right .aboutAur-mes .aboutAur-name .rank{padding: 5px 0 10px 0;color: #a5a5a5;}
.right .aboutAur-mes .aboutAur-name .ope a{display: inline-block;padding:5px 10px;margin-right: 10px;background-color: #333;color: #fff;font-size: 14px;border-radius: 3px;}
.right .aboutAur-mes .aboutAur-name .ope a.focus2{padding: 5px 6px;background: #DB6D4C; cursor: not-allowed;}
.right .about-author .atten-area{margin: 32px auto 0;padding-left: 25px;position: relative;line-height: 18px;color: #333;}
.right .about-author .atten-area em{background: url(../images/article-sprite.png) no-repeat;width: 17px;height: 13px;}
.right .about-author .atten-area em.l-quote{position: absolute;left: 0;top:0;background-position:  -1px -519px;}
.right .about-author .atten-area em.r-quote{display: inline-block;background-position: -2px -538px;margin-left: 2px;}
.right .about-author .au-code{padding: 20px 16px;background-color: #fff;width: 168px;margin:0 auto; margin-top: 30px;}
.right .about-author .au-code img{display: block;width: 168px;height: 168px;}
.right .about-author .au-code p{text-align: center;color: #676767;font-size: 14px;padding-top: 20px;}

.right .aboutAur-main{background-color: transparent;border-radius: 4px;padding: 24px 19px 24px 19px;border:1px solid #e1e1e1;}
.right .aboutAur-mes .aboutAur-name .rank{font-size: 14px;color: #a5a5a5;}
.right .aboutAur-mes .aboutAur-name .name a{font-size: 20px;}
.right .monthHot-artle{margin-top: 35px;}
.right .monthHot-artle .tit{margin-bottom: 20px;text-align: center;border-bottom: 1px solid #cdcdcd;position: relative;}
.right .monthHot-artle .tit span{position: relative;top:10px;padding: 0 10px;background: #fff;color: #dc6e4b;font-size: 16px;}
.right .monthHot-artle .list li{border-top: 1px solid #e1e1e1;line-height: 22px;padding: 12px 0; }
.right .monthHot-artle .list li.first{border-top: 0;}
.right .monthHot-artle .list li a{font-size: 14px;color: #5b5a5a;}
.right .monthHot-artle .list li:hover a{color: #dc6e4b;}
/* e= 全局右侧*/


/* s= 全局尾部*/
.footer {
    background: #313131;
    padding: 45px 0 0px;
}
.footer .footer-top .left {
    float: left;
}
.footer .footer-top .left .copyr {
    color: #6f6f6f;
    font-size: 12px;
    line-height: 1.8;
    padding-top: 35px;
}
.footer .footer-top .right {
    float: right;
}
.footer .footer-top .right .links {
    color: #aaa;
    font-size: 12px;
    float: right;
    line-height: 40px;
}
.footer .footer-top .right .links li {
    float:left;
}

.footer .footer-top .right .links a {
    color: #aaa;
    font-size: 12px;
    margin: 0 10px 0 8px;
}
.footer .footer-top .right .us {
    float: right;
}
.footer .footer-top .right .us a {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0;
    margin-left: 20px;
    background-image: url(../images/footer-sprite.png);
    background-repeat: no-repeat;
}
.footer .footer-top .right .us a.weibo {
    background-position: 0 0;
}
.footer .footer-top .right .us a.weixin {
    background-position: -50px 0;
}
.footer .footer-top .right .us a.email {
    background-position: -100px 0;
}
.footer .cooperate {
    padding-top: 60px;
}
.footer .cooperate a {
    padding-right: 35px;
}
.footer .cooperate img {
    vertical-align: middle;
}
.footer .cooperate .coop-name {
    padding-bottom: 15px;
    color: #6f6f6f;
}
.footer .footer-btm {
    padding-top: 65px;
    padding-bottom: 40px;
}
.footer .footer-btm li {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}
.footer .footer-btm li a {
    font-size: 12px;
    color: #636363;
}
.footer .copyright {
    height: 45px;
    line-height: 45px;
    background-color: #2d2d2d;
    border-top: 1px solid #3c3c3c;
    color: #6f6f6f;
    font-size: 12px;
}
.footer .copyright img {
    vertical-align: middle;
    margin-left: 3px;
}
/* e= 全局尾部*/




/* s= 公用文章列表*/
.pageList{}
.pageList .tip{ height: 37px; border-bottom: solid 2px #D6D6D6; position: relative; line-height: 37px;}
.pageList .tip h2{position: absolute; font-size: 28px; font-weight: bold; line-height: 1; left: 0; top: 0; padding-bottom: 9px; border-bottom: solid 2px #666666;}
.pageList .tip h2 span.yel{color: #5878D7;}
.pageList .tip h2 span.gra{color: #333;}
.pageList .tip .count{height: 100%; position: absolute; right: 0; bottom: 0px; background: #F2F2F2; padding: 0 10px; color: #333; font-size: 18px;}
.pageList .tip .count i{float: left; width: 20px; height: 22px; margin-top: 8px; margin-right: 5px; background: url(../images/pageList-sprite.png) no-repeat 0px 0px;}
.pageList .tip .count strong{color: #5878D7; font-weight: bold;}
.pageList .tip .count em{position: absolute;right: 0;top: 0;background: url(../images/pageList-sprite.png) no-repeat -39px 0;width: 8px;height: 8px;}
.pageList .wrap li.pbox{padding: 30px 0; border-bottom: solid 1px #EEEEEE;position: relative;}
.pageList .wrap li.pbox .img{float: left; position: relative; }
.pageList .wrap li.pbox .img a.sort{padding: 5px 12px; background: rgba(0,0,0,0.7); font-size: 14px; color: #fff; line-height: 1; position: absolute; top: 0; left: 0; }
.pageList .wrap li.pbox .word{ padding-left: 235px; padding-right: 10px;}
.pageList .wrap li.pbox .word .tit{ color: #272322; font-size: 20px; font-weight: bold; }
.pageList .wrap li.pbox .word .tit{-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s; }
.pageList .wrap li.pbox:hover .word .tit{ color: #5878D7;}
.pageList .wrap li.pbox .word .des{ font-size: 13px; color: #888; line-height: 1.6; line-height: 20px;height: 40px;overflow: hidden;}
.pageList .wrap li.pbox .word .info{height: 26px; line-height: 26px;font-size: 13px; color: #b8b8b8; padding-top: 12px;width: 543px;}
.pageList .wrap li.pbox .word .info .tags{float: left; height: 100%; width: 200px; overflow: hidden;}
.pageList .wrap li.pbox .word .info .tags i{float: left;background: url(../images/pageList-sprite.png) no-repeat -30px -43px;width: 18px;height: 13px; margin-top: 7px; }
.pageList .wrap li.pbox .word .info .tags a{float: left; font-size: 13px; color: #b8b8b8; margin-left:5px;}
.pageList .wrap li.pbox .word .info .tags a:hover{color: #5878D7;}
.pageList .wrap li.pbox .word .info .time{float: right;}
.pageList .wrap li.pbox .word .info .time i{float: left; margin-right: 5px;;background: url(../images/pageList-sprite.png) no-repeat -2px -42px;width: 14px;height: 14px; margin-top: 6px; }
.pageList .wrap li.pbox .word .info .aut{float: right; margin-right: 25px;}
.pageList .wrap li.pbox .word .info .aut img{float: left; margin-right: 5px; border-radius: 100%;width:20px;height:20px;}
.pageList .wrap li.pbox .word .info .aut span{float: left;font-size: 13px; color: #b8b8b8;width: 64px;height: 26px;white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.pageList .wrap li.pbox .word .info .aut span:hover{color: #5878D7;}

/*新增显示评论数*/
.pageList .wrap li.pbox .word .info .aut{float: left;margin-right: 0;width: 130px;}
.pageList .wrap li.pbox .word .info .time{float: left;}
.pageList .wrap li.pbox .word .info .cmt{float: right;min-width: 55px;color: #b8b8b8;font-size: 14px;}
.pageList .wrap li.pbox .word .info .cmt i{float: left; margin-top: 6px;margin-right: 5px;background: url('../images/pageList-sprite.png') no-repeat 0 -119px;width: 17px;height: 14px;}

/* e= 公用文章列表*/


/* s= 公用分页1*/
.pagination{margin-top: 20px;}
.pagination a{width: 376px; height: 57px; background: #5878D7; text-align: center; line-height: 57px; font-size:16px; color: #fff; font-weight: bold; border-radius: 3px; }
.pagination a:hover{background: #374c92; color: #fff; }
.pagination .pr{float: left; margin-right:36px;}
.pagination .nt{float: right;}
.pagination .pr.disabled,.pagination .nt.disabled{background: #ECECEC; color: #737373; cursor: not-allowed;}

/* e= 公用分页1*/

.tp-banner-container {
  margin-bottom:44px;
}

.breadcrumbs,.breadcrumbs a{
    color: #5b5a5a;
    font-size: 14px;
}

.breadcrumbs a {
    padding: 0 3px;
}

/*中间文字详情页部分*/
/*.article-main{padding-top:78px; padding-bottom: 100px;}*/
.article-left{width: 776px; width:740px;/*padding: 0 30px 30px; border: solid 1px #E6E6E6;*/padding-bottom: 30px;}
.article-left .pageTop{padding: 30px 0;}
.article-left .pageTop h1{color: #292929; font-size: 32px; line-height: 1.2;font-family: "microsoft yahei";}
.article-left .pageInfo{height: 28px; line-height: 28px; border-bottom: dotted 1px #D8D8D8;}
.article-left .pageInfo .pi-author{float: left;/*font-family: "NSimSun";*/ font-size: 14px; color: #888888; }
.article-left .pageInfo .pi-author span{margin-right: 1px;}
.article-left .pageInfo .pi-author i{margin: 0 3px; color: #7e7d7d;}
.article-left .pageInfo .pi-author a{color: #272727;}
.article-left .pageInfo .pi-comment{float: right; padding-left: 10px; border-left: solid 1px #E0E0E0; height: 18px; margin-top: 5px;line-height: 18px;  }
.article-left .pageInfo .pi-comment a{font-size:14px; color: #ed5565;}
.article-left .pageInfo .pi-comment a span{margin: 2px;}
.article-left .pageTag{padding: 20px 0;overflow: hidden;font-size: 14px;color: #292929;}
.article-left .pageTag .tags{float: left;padding: 4px 0;}
.article-left .pageTag ul li{float: left;margin-right:12px; margin-bottom: 6px;}
.article-left .pageTag ul li a{float: left;border:1px solid #e2e2e2; padding: 4px 12px;color: #292929;font-size: 14px;background: #fcfcfc; }
.article-left .pageTag ul li a{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.article-left .pageTag ul li a:hover{background: #f6f6f6;/*border-color:#ED5565;color: #fff;*/ }
.article-left .pageCont{padding: 8px 0 5px; word-break: break-word;}
.article-left .pageShenming{color: #A7A7A7;font-size: 15px;margin-bottom: 20px;color: #999898; margin-top:10px; line-height: 1.4;}
.article-left .pageShenming span{padding: 2px 7px; float: left; /* background: #f9f9f9; *//*border-left: 2px solid #E6E6E6;*/font-family: 'microsoft yehei';}
.article-left .pageTemporary{color: #ED5565;font-size: 16px;margin-bottom: 15px;}
.article-left .pageTemporary a{color: #ED5565; padding-left: 10px;}
.article-left .pageTemporary a:hover{color: #FC95A0;}
.article-left .articleSourceSrc{font-size: 16px; font-family: "microsoft yahei";color: #5a5a5a;  padding-bottom: 15px;}
.article-left .articleSourceSrc a{color: #ED5565;}


.article-comView p {
    margin: 0 0 1em;
    font-size: 18px;
}

.article-left .pageActive{ padding-bottom:20px; padding-top:20px;}

.article-left .share-btn{height:32px; -webkit-transition:background-color 0s;-moz-transition:background-color 0s; transition:background-color 0s; line-height: 32px; background:none; border:1px solid; position: relative; color:#333; float:left; padding:0px 16px 0px 36px; border-radius: 16px; font-family: "microsoft yahei";}
.article-left .share-btn i{width:24px; height: 24px;  position: absolute; left: 8px; top:4px; background: url("../images/article-sprite.png") no-repeat;}
.article-left .mark-like-btn{float:left; }
.article-left .baidu-share{float:right !important; }
.article-left .mark-like-btn a{margin-right:20px; font-size: 12px;}
.article-left .baidu-share a{margin:0px 0px 0px 15px;}

.article-left .collect{ border-color: #ff9933;}
.article-left .collect i{background-position: 2px -237px;}

.article-left .collect.collect-yes{cursor: default;color:#fff;background-color:#ff9933;}
.article-left .collect.collect-yes i{background-position: 2px -45px;}
.article-left .collect.collect-animate i{animation: starrotate 1.5s; -webkit-animation: starrotate 1.5s; -ms-animation: starrotate 1.5s; -o-animation: starrotate 1.5s; -moz-animation: starrotate 1.5s;}

.article-left .like-btn{ border-color: #f35454;}
.article-left .like-btn i{background-position: 2px -187px; }

.article-left .like-btn.love-yes{cursor:default;background:#f35454; color:#fff;}
.article-left .like-btn.love-yes i{background-position: 2px -104px;}

.article-left .like-btn.love-animate i{animation: heartbomb .8s; -moz-animation: heartbomb .8s; -ms-animation: heartbomb .8s; -webkit-animation: heartbomb .8s;  -o-animation: heartbomb .8s;}

.article-left .baidu-share .more-btn{border-color:#4593e4;  background:#fff url("../images/article-sprite.png") no-repeat 8px -208px !important; height:32px; line-height: 32px; font-size:0px; padding:0px; width:32px; }
.article-left .baidu-share .more-btn:hover{background-color:#4593e4 !important; background-position: 8px -14px !important;}
/*修改文章页面，分享btn*/
.article-left #bdshare .s-txt{float: left;line-height: 34px;font-size: 14px;color: #999;}
.article-left .lpatrshare-btn2{width: 34px;height: 34px;border-radius: 50%;padding: 0;border:0!important;}
.article-left .lpatrshare-btn2{display: inline-block;width: 34px;height: 34px;background: url("../images/article-sprite.png") no-repeat;}
.article-left .lpatrshare-btn2 i{display: none!important;}
/*sina*/
.article-left .weibo-btn{background-position: -1px -592px!important;}
.article-left .weixin-btn{background-position: -1px -630px;}
.article-left .wy-btn{background-position:  -1px -667px;}
#bdshare a:hover{opacity: 0.8;filter:alpha(opacity=80)}

.article-left .pageAuthor{ height: 110px; border:1px solid #c4c4c4; position: relative; overflow: hidden;}
.article-left .pageAuthor-in{height: 100%; width: 150%; position: relative; float:left;}
.article-left .au-roll{width:150%; position: relative;-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;}
.article-left .au-roll.move{margin-left:-110px;}
.article-left .au-facename{float: left; width:200px; -webkit-transition: all .3s;
-o-transition: all .3s;
transition: all .3s; padding: 15px; border-right:1px dotted #ccc;  }
.article-left .au-face{float: left; width: 80px;}
.article-left .au-name{float: left; padding-left: 30px; width: 90px; padding-top: 15px;}
.article-left .au-nickname{font-style: 14px; margin-bottom: 5px; display: block;}
.article-left .au-nickname a{ color: #666;font-size: 14px;}
.article-left .au-title{display: inline-block; background:#ed5565; color:#fff; padding:3px 10px; font-size: 14px;}
.article-left .au-intro{float:left; color: #a0a0a0; font-size: 14px; height: 100%; width:375px; padding: 7px 22px 10px 30px; width: 450px;/*width: 490px;*/}
.article-left .au-intro table{height: 110px;}
.article-left .au-intro td{height: 100%;}
.article-left .au-intro img{ position: relative; top:2px; margin-right: 15px;}
.article-left .au-intro img.img2{margin-left: 15px;}
.article-left .au-qcode{float: left; padding:2px; margin-left: 10px; position: relative; background:#db6d4c;display: none; }
.article-left .au-handle{width:10px; cursor: pointer; height: 57px; background:url(../images/handle_03.jpg) no-repeat; left: -10px; top:50%; margin-top: -28px;display: block; position: absolute;}
.article-left .su-box{position: relative; overflow: hidden;}
.article-left .su-roll{position: relative;}
.su-shadow{box-shadow:3px 0px 10px rgba(0,0,0,.1);}

/* animation */
@-webkit-keyframes rock {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    20%,60% {
        -webkit-transform: translate3d(-6px,0,0);
        transform: translate3d(-6px,0,0)
    }

    40%,80% {
        -webkit-transform: translate3d(6px,0,0);
        transform: translate3d(6px,0,0)
    }
}

@keyframes rock {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    20%,60% {
        -webkit-transform: translate3d(-6px,0,0);
        -ms-transform: translate3d(-6px,0,0);
        transform: translate3d(-6px,0,0)
    }

    40%,80% {
        -webkit-transform: translate3d(6px,0,0);
        -ms-transform: translate3d(6px,0,0);
        transform: translate3d(6px,0,0)
    }
}

@-webkit-keyframes border_large {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    20%,60% {
        -webkit-transform: translate3d(0,-6px,0);
        transform: translate3d(0,-6px,0)
    }

    40%,80% {
        -webkit-transform: translate3d(0,6px,0);
        transform: translate3d(0,6px,0)
    }
}

@keyframes border_large {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }

    20%,60% {
        -webkit-transform: translate3d(0,-6px,0);
        -ms-transform: translate3d(0,-6px,0);
        transform: translate3d(0,-6px,0)
    }

    40%,80% {
        -webkit-transform: translate3d(0,6px,0);
        -ms-transform: translate3d(0,6px,0);
        transform: translate3d(0,6px,0)
    }
}





.article-left .pageRelate{padding:40px 0; }
.article-left .pageRelate ul li{width: 30%;float: left; margin-right: 5%; border-top: solid 2px #fff; }
.article-left .pageRelate ul li{-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.article-left .pageRelate ul li.last{margin-right: 0;}
.article-left .pageRelate ul li .img{/*width: 200px; height: 120px;*/ margin-bottom: 10px;}
.article-left .pageRelate ul li .img img{width: 100% ;}
.article-left .pageRelate ul li .name{/*height: 40px;*/ line-height: 20px; /*overflow: hidden;*//*padding-top: 10px;*/}
.article-left .pageRelate ul li .name h2 a{font-size:12px; color: #5a5a5a;font-family: "NSimSun"; font-weight: bold;}
.article-left .pageRelate ul li:hover{border-top: solid 2px #DB6D4C;}
.article-left .pageRelate ul li:hover .name h2 a{color: #DB6D4C;}

.article-left .article-coment{padding-bottom: 40px;}


.article-comView{font-size: 16px; font-family: "microsoft yahei"; color: #333; line-height: 1.9; word-break:break-all;word-wrap:break-word; }
/*.article-comView{color:#666;font-family:"微软雅黑","Microsoft Yahei",STXihei,"黑体",arial,sans-serif;line-height:1.8;text-align:left;margin-left:auto;margin-right:auto;}*/
.article-comView blockquote{border-left:5px solid #eee;margin:20px;padding:5px 10px;clear:both;}
.article-comView blockquote p{margin-bottom:0px;}
.article-comView h1{font-size: 32px; font-weight: bold;margin: 20px 0px 15px;}
.article-comView h2{font-size: 24px; font-weight: bold;margin: 20px 0px 15px;}
.article-comView h3{font-size: 20px; font-weight: bold;margin: 20px 0px 15px;}
.article-comView h4{font-size: 16px; font-weight: bold;margin: 20px 0px 15px;}
.article-comView h5{font-size: 13px; font-weight: bold;margin: 20px 0px 15px;}
.article-comView h6{font-size: 12px; font-weight: bold;margin: 20px 0px 15px;}
.article-comView ol, .article-comView ul{margin:20px 0 20px 40px;}
.article-comView ol li{list-style-type:decimal;}
.article-comView ul li{list-style-type:disc;}
.article-comView p{margin:0 0 1em;font-size:18px;}
.article-comView strong{font-weight: bold;}
.article-comView a{color: #ED5565; text-decoration: none;}
.article-comView a{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;transition:all .2s ease-out;}
.article-comView a:hover{color:#FC95A0;}
.article-comView img{max-width:100%;height:auto;border:medium none;}
.article-comView object,.article-comView embed{margin:0 auto;display:block;}
.article-comView .noboder,.article-comView .noboder img{border:0;}
.article-comView .alignright{float:right;text-align:right;margin-left:15px;margin-bottom: 15px;}
.article-comView .aligncenter,.size-full{display:block;margin-left:auto;margin-right:auto;}
.article-comView .alignleft{float:left;text-align:left;margin-right:15px;margin-bottom: 15px;}
.article-comView .floatleft{float:left;}
.article-comView .floatright{float:right;}
.article-comView i,.article-comView cite,.article-comView em,.article-comView var,.article-comView address,.article-comView dfn{font-style: italic;}
/*后台保留*/
.article-comView.view{padding:0;word-wrap:break-word;cursor:text;height:90%;width:651px;text-align:left;margin-left:auto;margin-right:auto;}


/*左侧导航*/
.page{background:#EEEEEE;     margin-top: -44px;
    margin-bottom: -120px;}
.content{ padding-bottom: 70px;}
.cont-left{width: 138px; float: left; text-align: center;}
.cont-left .selects{padding-top:45px; }
.cont-left .selects li{padding-top: 20px;}
.cont-left .selects li a{font-size: 16px; color: #333333; text-decoration: none;}
.cont-left .selects li.cur a{color: #b74f33;}

/*右侧内容*/
.cont-right{float: left;width: 760px;border-left: solid 2px #E4E4E4;min-height: 740px; _height:740px; overflow: visible;}
.cont-right-box{
    padding: 60px 32px;
}

.cont-right-box h3 {
    font-size: 24px;
    color: #666666;
    line-height: 1.4;
}

.cont-right-body {
    font-size: 14px;
    color: #666666;
    line-height: 2.5;
    padding-top: 20px;
}
