# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
deployment.properties
deployment.xml

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# composer vendor dir
/composer.json
/composer.lock
/vendor
/InitHassCoreModule.php
/autoload_psr4.php