{{ set(this, 'title', name) }}
<div class="container">
	<section class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ this.title }}</h3>
		</div>


		<div class="panel-body">

			<div class="alert alert-danger">{{ message }}</div>

			<p>The above error occurred while the Web server was processing your
				request.</p>
			<p>Please contact us if you think this is a server error. Thank you.
			</p>
		</div>


	</section>
</div>
