.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.tabs-mini .nav > li > a {
    padding: 0 5px;
}
.tabs-mini .nav-tabs {
    border-bottom: 1px solid #aeaeae;
}
.tabs-mini .nav-tabs > li > a:hover {
    border-color: #eee #eee #aeaeae;
    background-color: #eaeaea;
}

.tabs-mini .nav-tabs > li.active > a, .tabs-mini .nav-tabs > li.active > a:hover, .tabs-mini .nav-tabs > li.active > a:focus {
    border: 1px solid #aeaeae;
    background-color: transparent;
    border-bottom-color: #f2f2f2;
}
